* {
  margin: 0;
  Padding: 0;
  font-family: 'Montserrat', sans-serif; }

html {
  font-size: 62.5%; }

body {
  /*Fondo de todo el sitio*/
  background-color: #000000; }

a {
  /*estilos links */
  color: #ffffff;
  text-decoration: none; }

a:hover {
  /*Cambio de color al pasar el cursor*/
  color: #04aa73; }

ul {
  /*Atributos listas*/
  list-style: none;
  margin-top: 1rem;
  font-size: 1.5rem; }

b {
  color: #106247; }

.footerContenedor {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  background: #106247;
  grid-row-gap: auto;
  grid-column-gap: auto;
  width: 100%; }

.footerContenedor p, a {
  font-size: 1.5rem; }

.footerContenedor h4 {
  font-size: 2.5rem;
  padding-bottom: 2rem; }

.cierre {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-align: center;
  font-size: 2.5rem;
  background: #106247;
  color: #ffffff; }

.contactoFooter {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-image: url(../multimedia/bateria_escenario.jpg);
  background-size: cover;
  align-items: center;
  font-size: 2rem;
  min-width: 50vh; }

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  max-width: 100%; }

.gridNegro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: black;
  color: white;
  justify-content: space-between;
  text-align: left;
  font-size: 1.8rem;
  max-width: 100%;
  align-items: center; }

.gridNegro img {
  width: 100%; }

.gridNegro p {
  padding-left: 2rem; }

.gridNegro h3 {
  padding-left: 2rem;
  padding-bottom: 3rem; }

.gridBlanco {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  color: black;
  justify-content: space-between;
  text-align: right;
  font-size: 1.8rem;
  max-width: 100%;
  align-items: center; }

.gridBlanco img {
  max-width: 100%; }

.gridBlanco p {
  padding-right: 2rem; }

.gridBlanco h3 {
  padding-right: 2rem;
  padding-bottom: 3rem; }

.logo {
  max-width: 250px; }

.contenedorFrase {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  background: #000000; }

.fraseCorte {
  font-style: italic;
  font-size: 2rem;
  color: #ffffff;
  margin: 2rem 3rem 2rem 3rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-align: center;
  line-height: 2.5rem;
  width: 90%;
  font-weight: 100; }

.nosotros {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: url(../multimedia/principal.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
  padding: 1rem 1rem 1rem 1rem; }

.nosotros h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 1rem; }

.nosotros p {
  font-size: 1.5rem;
  color: #ffffff;
  font-style: italic; }

.sliderHome {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: url(../multimedia/principal.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
  padding: 1rem 1rem 1rem 1rem; }

.sliderHome {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 800;
  align-self: center;
  justify-self: center; }

nav-item {
  font-size: 3rem;
  color: #ffffff; }

.navbar {
  z-index: 999; }
