.footerContenedor{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    background: $verdemarca;
    grid-row-gap: auto;
    grid-column-gap:auto;
    width: 100%;
}
    .footerContenedor p, a{
        font-size: 1.5rem;
    }
    .footerContenedor h4{
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }
.cierre{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    font-size: 2.5rem;
    background:$verdemarca;
    color:#ffffff;
}
.contactoFooter{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-image: url(../multimedia/bateria_escenario.jpg);
    background-size:cover;
    align-items: center;
    font-size: 2rem;
    min-width: 50vh;
}