.sliderHome{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/principal.jpeg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
 
}
.sliderEquipos{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/escenario.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
}
.sliderSnareDrum{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/set1.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
 
}
.sliderCymbals{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/set1.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
 
}
.sliderBajo{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/set1.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
 
}
.sliderGuitarra{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/set1.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
 
}
.sliderPercusion{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/set1.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
 
}
.sliderPianos{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/set1.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
 
}
.sliderDrumSet{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../multimedia/set1.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    padding: 1rem 1rem 1rem 1rem;
 
}